{% extends 'base_internal.html' %}

{% block title %}Configuración_Contable{% endblock %}
{% block pagecontent %}

	 {% include 'partials/side-bar.html' %}   
   
        {% include 'partials/header.html' %}
        	
        	<div class="content-space">
        		<div class="page_topic">
					<p> Configuración Contable</p>
				</div>
				<div class="conf_cont_input">
				<form id ="">
					<div class="conf_cont_input_inner">
					<div class="form-group"><input type="text" class="form-control" id="" placeholder="Nombre"></div>
					</div>
					<div class="conf_cont_input_inner">
					<div class="form-group"><input type="text" class="form-control" id="" placeholder="Email"></div>
					</div>
					<div class="conf_cont_input_inner">
					<div class="form-group"><input type="text" class="form-control" id="" placeholder="Contraseña"></div>
					</div>
					<div class="conf_cont_input_inner">
					<div class="form-group"><input type="text" class="form-control" id="" placeholder="Repetir Contraseña"></div>
					</div>
					<div class="conf_cont_input_inner">
					<div class="form-group"><input type="text" class="form-control" id="" placeholder="código cliente APLIFISA"></div>
					</div>
					<div class="conf_cont_input_inner">
					<div class="form-group"><input type="text" class="form-control" id="" placeholder="código Contable APLIFISA"></div>
					</div>
					<button type="submit" class="conf_cont_button">GUARDAR</button>
				</form>	
			   </div>

				<div class="contable_checkbox perfil_checkbox">
						<div class="checkbox_topic"><p>Declaraciones AEAT</p></div>
							<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#MENUSAL">MENUSAL</a></li>
							<li><a data-toggle="tab" href="#TRIMESTRAL">TRIMESTRAL</a></li>

							</ul>
						<div class="tab-content ">
								<div id="MENUSAL" class="tab-pane fade in active">
								<!-- <h3>MENUSAL</h3> -->

								</div>
								<div id="TRIMESTRAL" class="tab-pane fade">
								<form>
										<label class="container" id="check_7">Modelo 111
										<input type="checkbox" checked="checked" onChange="myFunction(check_7, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_8">Modelo 118
										<input type="checkbox" onChange="myFunction(check_8, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_9">Modelo 303
										<input type="checkbox" onChange="myFunction(check_9, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_10">Modelo 347
										<input type="checkbox" onChange="myFunction(check_10, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_11">Modelo 090
										<input type="checkbox" onChange="myFunction(check_11, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_12">Modelo 100
										<input type="checkbox" onChange="myFunction(check_12, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_13">Modelo 070
										<input type="checkbox " onChange="myFunction(check_13, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_14">Modelo 101
										<input type="checkbox" onChange="myFunction(check_14, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_15">Modelo...
										<input type="checkbox" onChange="myFunction(check_15, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_16">Modelo...
										<input type="checkbox" onChange="myFunction(check_16, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_17">Modelo...
										<input type="checkbox" onChange="myFunction(check_17, this)">
										<span class="checkmark"></span>
										</label>
										<label class="container" id="check_18">Modelo...
										<input type="checkbox" onChange="myFunction(check_18, this)">
										<span class="checkmark"></span>
										</label>
								</form>
							</div>


						</div>




				</div>	
		


        	</div> <!-- content-space -->

        {% include 'partials/footer.html' %}


  	{% endblock %}
