{% extends 'base_internal.html' %}

        {% block title %}Exportor_datos{% endblock %}
        {% block pagecontent %}
 
         {% include 'partials/side-bar.html' %}   
           
                {% include 'partials/header.html' %}

	                <div class="accumlation">
	                     <div class="content-space">
	                     	<form id="">
		                     	<div class="expo_dat">
	                                <p>Exportor_datos:</p>
			                                 <span>
			                                    <label>de</label><span><input type="text" placeholder="Lun,17 oct"></span>
			    							  </span>
				                              <span>
				                                    <label>hasta</label><span><input type="text" placeholder="Mar,23 nov"></span>
				    							</span>
	                               
	                                </div>
	                                  
	                                <div class="clear_both"></div>
	                          </div> <!-- expo_dat -->
	                         </form>   

	                     </div><!-- content-space -->

	                     <div class="content-space">
	              
	                		 <div class="table-responsive">          
								  <table class="table">
								    <thead>
								      <tr>
								        <th class= "border_left">ID</th>
								        <th>Cuenta</th>
								        <th>NIF</th>
								        <th>Razón social</th>
								        <th>Fecha</th>
								        <th>Factura N</th>
								        <th>Base Imp</th>
								        <th>Impuestos</th>
								        <th>Total</th>
								        <th>Vencimeinto</th>
								        <th>Estado</th>
								        <th class="border_right">APLIFISA</th>
								        
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_red">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_red">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_red">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_red">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								      <tr>
								        <td>FR-17000072</td>
								        <td>400.005</td>
								        <td>B4634876</td>
								        <td>Abaci Contab</td>
								        <td>30/10/2017</td>
								        <td>14637</td>
								        <td>170,000&euro;</td>
								        <td>35,70&euro;</td>
								        <td>205,70&euro;</td>
								        <td>30/10/2017</td>
								        <td>Aceptada</td>
								        <td class="table_green">Traspasada</td>
								     </tr>
								    </tbody>
								  </table>
						  </div> <!-- Table responsive -->
                                                
                    </div><!-- content-space -->

                	 


               

                {% include 'partials/footer.html' %}


        {% endblock %}
                      