{% extends 'base_internal.html' %}

        {% block title %}Dashboard{% endblock %}
        {% block pagecontent %}
 
         {% include 'partials/side-bar.html' %}   
           
                {% include 'partials/header.html' %}
                
                    <div class="accumlation">
                            <div class="content-space">
                                    <form action="/action_page.php">
                                        <div class="accum_sec">
                                            <p>Datos Acumulados:</p>
                                        </div>
                                        <div class="accum_sec">
                                            <P>Fecha Inicio Año Fiscal</P>
                                            <div>
                                                <label>Mes:</label>
                                                <select>
                                                  <option value="January">January</option>
                                                </select>
                                            </div><!-- accum_sec -->
                                             <div>
                                                <label>Trimestre:</label>
                                                <select>
                                                  <option value="">1T</option>
                                                  <option value="">2T</option>
                                                  <option value="">3T</option>
                                                </select>
                                            </div>
                                             <div class="clear_both"></div>
                                        </div><!-- accum_sec -->

                                        <div class="accum_sec">
                                            <P>a</P>
                                        </div><!-- accum_sec -->

                                        <div class="accum_sec">
                                            <P>Fecha Actual Año Fiscal</P>
                                            <div>
                                                <label>Mes:</label>
                                                <select>
                                                  <option value="January">January</option>
                                                </select>
                                            </div><!-- accum_sec -->
                                             <div>
                                                <label>Trimestre:</label>
                                                <select>
                                                  <option value="">1T</option>
                                                  <option value="">2T</option>
                                                  <option value="">3T</option>
                                                </select>
                                            </div>
                                             <div class="clear_both"></div>
                                        </div><!-- accum_sec -->

                                    </form> 
                            </div><!-- content-space -->
                            <div class="clear_both"></div>
                        </div><!-- accumlation -->
                        <div class="content-space text-center">
                            <div>
                                 <div class="slot">
                                    <h3>Ingresos<span>1T 2017</span></h3>
                                    <h1>35.000 &euro;</h1>
                                    <h2><span>1T 2016:</span>32.000 &euro;</h2>
                                    <p>+9%</p>
                                 </div> 
                                 <div class="slot">
                                    <h3>Ingresos<span>1T 2017</span></h3>
                                    <h1>25.000 &euro;</h1>
                                    <h2><span>1T 2016:</span>18.000 &euro;</h2>
                                    <p>+9%</p>
                                 </div>
                                 <div class="slot">
                                    <h3>Ingresos<span>1T 2017</span></h3>
                                    <h1>14.000 &euro;</h1>
                                    <h2><span>1T 2016:</span>10.000 &euro;</h2>
                                    <p>+9%</p>
                                 </div>
                             </div>  
                             <div>
                                 <div class="slot">
                                    <h3>Pendiente de cobro <br>a fecha de hoy</h3>
                                    <h1 class="text-blue">9.500 &euro;</h1>
                                    <h4><span><img src="../static/images/dit.png" alt=""></span><span>Gestionar mis cobros <br>pendientes ahora</span></h4>
                                    <!-- <p>+9%</p> -->
                                 </div> 
                                 <div class="slot">
                                    <h3>Pendiente de cobro <br>a fecha de hoy</h3>
                                    <h1 class="text-blue">5.000 &euro;</h1>                                
                                    <h4><span><img src="../static/images/edit.png" alt=""></span><span>Gestionar mis cobros <br>pendientes ahora</span></h4>
                                    <!-- <p>+9%</p> -->
                                 </div>
                                 <div class="slot">
                                    <h3>Ingresos<span>1T 2017</span></h3>
                                    <h1 class="text-red">2.100 &euro;</h1>
                                    <h2><span>1T 2016:</span>1.785 &euro;</h2>
                                    <p class="badge-red">+9%</p>
                                 </div>  
                             </div>                        
                        </div>

  {% include 'partials/footer.html' %}


{% endblock %}
