 					</div><!-- content holder -->
                
                <footer>        
                    <p>Aviso legal / Política de privacidad / Mapa de sitio</p>
                </footer>
            </div>
        </div>

         <script type="text/javascript">
            $(document).ready(function () {                
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });
                $('#sidebarCollapse').on('click', function () 
                {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                    if ($('#content').hasClass('active')) 
                    {
                            $(".navbar").css("width", "100%");
                            $("footer").css("width", "100%");
                    }
                    else
                    {
                        $(".navbar").css("width", "calc(100% - 185px)");
                        $("footer").css("width", "calc(100% - 185px)");
                    }
                });


                
                    if ($(window).width() < 992) 
                    {
                        $('#sidebar,#content').addClass('active');
                        $(".navbar").css("width", "100%");
                        $("footer").css("width", "100%");
                    }
                    else 
                    {
                         $('#sidebar,#content').removeClass('active');
                         $(".navbar").css("width", "calc(100% - 185px)");
                        $("footer").css("width", "calc(100% - 185px)");
                    }
               // Get all the links.
                var link = $("#accordion a");

                // On clicking of the links do something.
                link.on('click', function(e) {
                    // e.preventDefault();

                    var a = $(this).attr("href");

                    $(a).slideDown('fast');

                    //$(a).slideToggle('fast');
                    $("#accordion ul").not(a).slideUp('fast');
                    
                });
                $(function() {
                    $('#first,#second').carouseller({
                    });
                });
                
                // if($('input').is(':checked')) {
                //     $(".container").css("color", "#000");
                // }

                // if ($('input.checkbox_check').is(':checked')) {



                });
        </script>