    <!-- Page Content Holder -->
            <div id="content">
                <!-- Page header -->

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
                        </div>
                        <div class="header-right">
                            <p>Miercoles,</br>29 de Noviembre,</br>2017 </p>
                        </div>                        
                    </div>
                </nav>
                 <!-- End Page header -->


                <div class="content-holder">
                    
                    <div class="text-right user-space">
                        <div class="dropdown show">
                          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../static/images/user_icon.png">
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Configuración Administrador</a>
                            <a class="dropdown-item" href="#">Perfil Usuario</a>
                            <a class="dropdown-item" href="#"> Configuración Contable</a>
                            <a class="dropdown-item" href="{% url 'login' %}">Cerrar Sesión</a>
                          </div>
                        </div>
                        
                    </div>