          <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img src="../static/images/dash_logo.png" alt="Login Logo"> 
                </div>

                <ul class="list-unstyled components">
                    <!-- <p>Dummy Heading</p> -->
                    <li class="">
                        <a href="#first" data-toggle="collapse" aria-expanded="false"><img src="../static/images/first.png"></a>
                        <ul class="collapse list-unstyled" id="first">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- <a href="#">About</a> -->
                        <a href="#second" data-toggle="collapse" aria-expanded="false"><img src="../static/images/second.png"></a>
                        <ul class="collapse list-unstyled" id="second">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#third" data-toggle="collapse" aria-expanded="false"><img src="../static/images/third.png"></a>
                        <ul class="collapse list-unstyled" id="third">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#fourth" data-toggle="collapse" aria-expanded="false"><img src="../static/images/fourth.png"></a>
                        <ul class="collapse list-unstyled" id="fourth">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#fifth" data-toggle="collapse" aria-expanded="false"><img src="../static/images/fifth.png"></a>
                        <ul class="collapse list-unstyled" id="fifth">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#sixth" data-toggle="collapse" aria-expanded="false"><img src="../static/images/sixth.png"></a>
                        <ul class="collapse list-unstyled" id="sixth">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="powered"><img src="../static/images/powered.png"></a>
            </nav>


            
  