<div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img src="../static/images/dash_logo.png" alt="Login Logo"> 
                </div>

                <ul id="accordion" class="list-unstyled components">
                    <!-- <p>Dummy Heading</p> -->
                    <li class="">
                        <a href="{% url 'index' %}"><img src="../static/images/first.png"><span>FirstImage</span></a>
                        <!-- <ul class="collapse list-unstyled" id="first">
                            <li><a href="#">Subir Documentos</a></li>
                            <li><a href="#">Nueva Factura</a></li>
                            <li><a href="#">Facturas Emitidas</a></li>
                            <li><a href="#">Exportar Datos</a></li>
                        </ul> -->
                    </li>
                    <li>
                        <!-- <a href="#">About</a> -->
                         <a href="#second" aria-expanded="false"><img src="../static/images/second.png"><span>Emisión Factura</span></a>
                        <ul class="collapse list-unstyled" id="second">
                            <li><a href="#">Subir Documentos</a></li>
                            <li><a href="{% url 'nueva_factura' %}">Nueva Factura</a></li>
                            <li><a href="#">Facturas Emitidas</a></li>
                            <li><a href="{% url 'exportor_datos' %}">Exportar Datos</a></li>
                        </ul>                        
                    </li>
                    <li>
                        <a href="#third" aria-expanded="false"><img src="../static/images/third.png"><span>Tickets</span></a>
                        <ul class="collapse list-unstyled" id="third">
                            <li><a href="#">Subir Ticket</a></li>
                            <li><a href="#">Nuevo Ticket</a></li>
                            <li><a href="#">Panel Tickets Rec.</a></li>
                            <li><a href="#">Nota Gastos</a></li>
                            <li><a href="#">Exportar Datos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#fourth" aria-expanded="false"><img src="../static/images/fourth.png"><span>FourthImage</span></a>
                        <ul class="collapse list-unstyled" id="fourth">
                            <!-- <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#fifth" aria-expanded="false"><img src="../static/images/fifth.png"><span>FifthImage</span></a>
                        <ul class="collapse list-unstyled" id="fifth">
                            <!-- <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#sixth" aria-expanded="false"><img src="../static/images/sixth.png"><span>Balances</span></a>
                        <ul class="collapse list-unstyled" id="sixth">
                            <li><a href="#">Cuenta PyG</a></li>
                            <li><a href="{% url 'balance' %}">Balance y Situación</a></li>
                            <li><a href="#">Informes</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="powered"><img src="../static/images/powered.png"></a>
            </nav>