/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face 
{
    font-family: montserrat_semibold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face 
{
    font-family: montserrat_extrabold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face 
{
    font-family: montserrat_regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face 
{
    font-family: montserrat_medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face 
{
    font-family: montserrat_bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
body 
{
    font-family: montserrat_medium;
    background: #fafafa;
}

p {
    font-family: montserrat_medium;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar
{
    /*padding: 15px 10px;*/
    background: #0d557d;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: calc(100% - 185px);
    border-left:1px solid #fff;
     transition: width 0.3s;
     z-index: 999;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.border
{
  border: 1px solid #000;
}
.pad
{
  padding:10px;
}
.user_icon
{
  padding: 10px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar
{
    width: 185px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #0d557d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active 
{
    margin-left: -185px;
}

#sidebar .sidebar-header
{
    padding: 20px;
    background: #0d557d;
}

/*#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}*/

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar  ul.components  > li
{
  margin:15px 0;
}
#sidebar ul li a 
{
    padding: 7px 0;
    font-size:13px;
    display: block;
    text-align: center;
    font-family: montserrat_regular;
    
}
#sidebar ul li a span
{
  display: none;
  padding: 9px;
}
#sidebar ul li a:hover span
{
  display: block;
}
#sidebar ul li a:hover img
{
  display: none;
}
#sidebar ul ul a 
{
  border-bottom:1px solid #fff;
}
#sidebar ul li a:hover 
{
    color: #fff;
    background: #f0d451;
}
#sidebar a[aria-expanded="false"]::before,#sidebar a[aria-expanded="true"]::before
{
  display:none;
}
#sidebar ul li.active > a, a[aria-expanded="true"] 
{
    color: #fff;
    background: #0d557d;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before 
{
    content: '\e260';
}



.powered
{
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #0d557d;
    padding: 6px 0;
    width: 185px;
}
/* ---------------------------------------------------
    header STYLE
----------------------------------------------------- */

.header-right
{
float: right;

color: #000;

margin-right: 10%;

text-align: right;

border-right: 1px solid #fff;

padding: 10px 10px 5px 0;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content 
{
    width: calc(100% - 185px);
    min-height: 100vh;
    height:100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.content-holder
{
  /*border: 1px solid #000;*/
  margin: 85px 0 40px 0;
}
#content.active 
{
    width: 100%;
}
.user-space
{
border-bottom: 1px solid #ccc;
}
.user-space #dropdownMenuLink
{

}
.user-space .dropdown-menu
{
    right: 0;
    left: unset;
    margin: 0;
    padding: 0;   
}
.user-space .dropdown-item
{ 
    background: #0d557d;    
    display: block;
    text-align: right;
    padding: 5px 15px;
    color:#fff;
    border-bottom:1px solid #fff;
}
.user-space .dropdown-item:hover
{ 
  background: #f0d451;
}

.user-space a[aria-expanded="false"]::before,.user-space a[aria-expanded="true"]::before
{
  display:none;
  
}
.user-space a[aria-expanded="true"]
{
  background:none !important;
}
.accumlation
{
  background-color: #efefee;
   padding:10px 0;
}
.content-space
{
 margin:1%;
}
.accum_sec
{
  float:left;
  margin-right: 30px;

}
.accum_sec p
{
  color:#0d557d;
  font-family: montserrat_bold;
  font-size: 13px;
  font-weight: 300;
}
.accum_sec div
{
  float:left;
  margin:0 10px;
}
.accum_sec label
{
  display:block;
  color:#000;
  font-family: montserrat_regular;
  font-size: 12px;
  font-weight: 300;
}
.accum_sec select
{
  min-width:75px;
  color:#7ea2b5;
  font-family: montserrat_regular;
  font-size: 13px;
}
.slot
{
  background: #efefee;
  text-align:center;
  width:32%;
  max-width:320px;
  min-width:210px;
  display:inline-block;
  vertical-align:top;
  position:relative;
  border-radius: 10px;
  margin: 1%;
}
.slot:nth-child(3n+1):before { content: '\A'; }

.slot h3
{
  font-family: montserrat_bold;
  background: #7ea2b5;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  font-size: 22px;
}
.slot h1
{
  font-family: montserrat_extrabold;
  color:#fff;
  color:#009036;
  border-bottom:1px solid #fff;
  padding: 15px 0;
  margin: 0;
  font-size: 34px;
} 
.slot h2
{
  font-family: montserrat_extrabold;
  color:#babcbc;
  padding: 10px 0 15px 0;
  margin: 0;
  border-radius:0 0 10px 10px;
  font-size: 23px;
}
.slot h4
{
  color:#babcbc;
  padding:15px;
  margin: 0;
  font-size: 16px;
  font-family: montserrat_regular;
}
.slot h4 span
{ 
  display: inline-block;
  vertical-align: middle;
}
.slot h4 span img{
  margin-top: 5px;
}
.slot span
{
  font-family: montserrat_regular;
  font-size: 16px;
  display:block;
  padding: 5px;
}
.slot p
{
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #009036;
  border-radius: 40px 0 10px 0;
  padding: 15px 5px 5px 15px;
  margin: 0;
}
.slot .text-blue{
  color: #0d557d;
}
.slot .text-red{
  color: #e2001a;
}
.slot .badge-red{
  background: #e2001a;
}
/* ---------------------------------------------------
    footr STYLE
----------------------------------------------------- */
footer
{
  position:fixed;
  bottom:0;
  width:calc(100% - 185px);
  padding:10px;
  border-left:1px solid #fff; 
  background: #0d557d;
  transition: width 0.3s;
  min-height: 39px;
}
footer p
{
  text-align: right;
  margin: 0;
}
footer br
{
  display:none;
}
.content-space
{
  margin: 1%;
}
.clear_both
{
    clear:both !important;
    float:none !important; 
}/* ---------------------------------------------------
    Exportor_datos
----------------------------------------------------- */
.table
{  
  border: 1px solid #B2B3B5;
} 
.table th
{ border-right: 1px solid #FFFFFF; 
  background-color: #B2B3B5;
  color: #FFFFFF;  
}
.table td
{ border-right: 1px solid #B2B3B5; 
  color:#B2B3B5; 
}
.table th:lastchild 
{ 
  border:0; 
}
.expo_dat\
{

}
.expo_dat p
{
  color:#0d557d;
  font-family: montserrat_bold;
  font-size: 18px;
  font-weight: 300;
  float: left;
}
.expo_dat label
{
  color:#B2B3B5;
  font-family: montserrat_regular;
  font-size: 14px;
  font-weight: 300;
  margin-left:30px;
  margin-right: 20px;
 
}
..expo_dat div
{
  display: inline-block;
  float: left;
}
.expo_dat input
{
   background: url("../images/calender.png") no-repeat 3px;
   background-size:10%; 
   padding-left: 30px;
   background-color: #fff;
}

.table-responsive
{
  margin-top: 30px;
}
.table_green
{
  background-color: #019036;
   color:#FFFFFF !important;
}
.table_red
{
 background-color: #E3001B;
 color:#FFFFFF !important;
}
/* ---------------------------------------------------
    nueva_factura
----------------------------------------------------- */
.nueva_factura
{

}
.nueva_factura > div
{
  width: 48%;

  display: inline-block;

  vertical-align: top;

  min-width: 300px;

  margin: 0 0.5%;
}
.pdf_view
{
  
}
.pdf_head
{
  text-align:center;
  margin-bottom: 20px;
}
.pdf_head span
{
  display: inline-block;
  vertical-align:middle;
}
.pdf_nav_left
{

}
.pdf_heading
{
  font-size: 32px;

  color: #0d557d;

  margin: 0 5%;
}
.pdf_nav_right
{
  
}
.delete_pdf
{
  float: right;  
}
.pdf_content
{

}
.pdf_head img
{
  width: 25px;
}
.pdf_content embed
{
  width:100%;
  min-height:727px;
}
.invoice_registration
{

}
.inv_reg_head
{
  text-align: right;
}
.inv_reg_head span
{
  display:inline-block;
  vertical-align:bottom;
}
.inv_reg_head span a
{
  display: block;

  font-size: 10px;

  font-weight: 300;

  color: #a3a3a5;

  text-align: center;

  padding: 5px;
}
.inv_reg_heading
{
  font-size: 22px;
  color: #0d557d;
  float: left;
  margin-top: 15px;
}
.inv_reg_head img
{
  width: 35px;

  margin-bottom: 5px;
}
.inv_reg_process
{
  
  background: #0d557d;
  
}
.inv_reg_process a
{
  color: #fff !important;
}
.inv_reg_view
{
  
}
.inv_reg_content
{
  padding: 10px;
  border: 2px solid #c8c8c8;
}
.inv_reg_content .cut_3
{
  display: inline-block;
  margin-right:50px;
}
.inv_reg_content form div
{
  margin-bottom: 5px;
}
.inv_reg_content .cut_1
{

}
.inv_reg_content .cut_2
{

}
.inv_reg_content .max_cut input
{
  width:210px !important;
}
.inv_reg_content .cut_3 input
{
  width:135px;  
}
.inv_reg_content .cut_1 input
{
  width:100%;  
}
.inv_reg_content input
{
  border:1px solid #ccc;
  padding: 2px 10px;
}
.inv_reg_content select
{
    width:100px;
    padding: 2px 10px;
}
.inv_reg_content .cut_2 input
{
  width:135px;
} 
.inv_reg_content label
{
    display: block;
    font-family: montserrat_regular;
    color:#b1b3b4;
}
.inv_reg_content label span
{
  font-size: 10px;
}
.inv_reg_content button
{
  border: 0;
  background: #d9dadb;
  padding: 15px 10px;
  color: #fff;
}
.grab_con
{

}
.grab_edit
{
  background:#0d557d !important;

}
::-webkit-input-placeholder 
{ /* Chrome/Opera/Safari */
  color: #d1d4d4;
}
::-moz-placeholder 
{ /* Firefox 19+ */
  color: #d1d4d4;
}
:-ms-input-placeholder 
{ /* IE 10+ */
  color: #d1d4d4;
}
:-moz-placeholder 
{ /* Firefox 18- */
  color: #d1d4d4;
}
/* ---------------------------------------------------
   configuracion
----------------------------------------------------- */

.conf_topic p
{ 
  color:#0d557d;
  font-family: montserrat_bold;
  font-size: 18px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 30px;
}
.conf_admin input
{
  margin-bottom: 30px;
  
}
.conf_input
{
  width:49%;
  font-family: montserrat_regular; 
  height:30px;
  font-size: 13px;
  border: 0;
  float: left;
  margin-bottom: 45px;

}
.right
{
    margin-right: 15px;
}
.conf_admin_button
{
  width:50%;
  font-family: montserrat_semibold; 
  background-color: #0d557d;
  height:30px;
  font-size: 13px;
  color: #fff;
  border: 0;
  margin-bottom: 45px;
  margin-top: 35px;
}
/* ---------------------------------------------------
    perfil
----------------------------------------------------- */

.menu_perfil .tab-content h3
{
  color: #F1D452;
  font-family: montserrat_bold;
  font-size: 12px;
  font-weight: 300;
  margin: 0;

}
.page_topic p
{ 
  color:#0d557d;
  font-family: montserrat_bold;
  font-size: 18px;
  font-weight: 300;
  margin-top: 50px;
}
.usuario_three 
{
  width: 48%;
  float: left;
  margin-right: 15px;
}
.usuario_three_input
{
  width:100%;
  font-family: montserrat_regular; 
  height:30px;
  font-size: 13px;
  border: 0;
  margin-bottom: 45px;
  margin-top: 35px;

}

/*.perfil_checkbox label
{
  color:#B2B3B5; 
  font-family: montserrat_regular;
  font-size: 14px;
  font-weight:300;
  margin-left:20px;
}

.perfil_checkbox .inner
{
  display: inline;
  margin-left: 50px;
  margin-top: 10px;
}
.perfil_checkbox .block
{
    margin-bottom: 30px;
}
.perfil_checkbox
{
  background-color: #EFEFEF;
  width: 75%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.perfil_checkbox input.largerCheckbox
{
  width: 30px;
  height: 30px;
  -webkit-width: 30px;
  -webkit-height: 30px;
  -moz-width: 30px;
  -moz-height: 30px;

}*/
/* ---------------------------------------------------
    configuracion_contable 
----------------------------------------------------- */
.conf_cont_input
{
  width: 49%;
  float: left;
  margin-right: 15px;

}
.conf_cont_input_inner
{
  width:100%;
  font-family: montserrat_regular; 
  height:30px;
  font-size: 13px;
  border: 0;
  margin-bottom: 45px;
  margin-top: 35px;
}
.conf_cont_button
{
  width:100%;
  font-family: montserrat_semibold; 
  background-color: #0d557d;
  height:30px;
  font-size: 13px;
  color: #fff;
  border: 0;
  margin-bottom: 45px;
  margin-top: 35px;
}
/* ---------------------------------------------------
    checkbox
----------------------------------------------------- */
.checkbox_topic p
{ 
  color:#0d557d;
  font-family: montserrat_bold;
  font-size: 18px;
  font-weight: 300;
}
.contable_checkbox
{
  width: 49%;
  float: right;
}
.menu_perfil ul li, .contable_checkbox ul li
{
  background-color: #EFEFEF;
  color:#0d557d;
  font-family: montserrat_semibold;
  font-size: 12px;
  font-weight: 300;
  /*padding: 5px 15px;*/
  border:0;
}
..menu_perfil ul li, .contable_checkbox ul li:hover;
{
  background-color: #0d557d;
  color:#fff;
  }
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 992px) 
{
  #sidebarCollapse
  {
    display:none;
  }
  
}
@media (max-width: 992px) 
{   
    #sidebarCollapse span 
  {
      display: none;
  }
  .navbar-btn
  {
    background: none;
    color: #fff;
  }
  .navbar-btn.focus, .navbar-btn:focus, .navbar-btn:hover
  {
    color:#fff;
    opacity:0.7;
  }
  .navbar,footer
  {
    border:0;
  }
}
@media (max-width: 768px) 
{   
 .accum_sec, .expo_dat,
 {
      float: none;
      width: 195px;
      margin: 0 auto;
      text-align: center;
  }
  .navbar-header
  {
    float:left;
  }
  footer p
  {
    font-size:8px;
  }
  footer br
  {
    display:block;
  }
  .pdf_heading
  {
    font-size: 20px;
  }
  .pdf_head img
  {
    width: 20px;
  }
  .nueva_factura > div 
  {
    width: 100%;
    margin: 10px 0;
  }
  .pdf_content embed
  {
    min-height: 500px;
  }
 .conf_input,.usuario_three,.conf_admin_button, .conf_cont_input, .contable_checkbox
  {
   width:100%;
   margin-right:0;
  }
}
/*Inner content*/

